/* here you can put your own css to customize and override the theme */
.bar-name {
	background: #e0e0e0;
	width: 100px;
	margin-bottom:5px;
}
.bar-address {
	background: #e0e0e0;
	width: 200px;
	margin-bottom:5px;
}

.bar-description p {
	background: #e0e0e0;
	width: 300px;
	margin:5px 0px;
}

input {
	border-radius: 5px !important;
}

button {
	border-radius: 5px !important;
}

.btn .default {
	border: solid 1px #333 !important;
}

.caption, .tools{
	color:#333 !important;
}

.padding5
{
	padding: 5px;
}

.padding10
{
	padding: 10px;
}

.padding15
{
	padding: 15px;
}

.radius-buttom
{
	border-bottom-left-radius: 5px !important;
	border-bottom-right-radius: 5px !important;
}

.radius-top
{
	border-top-left-radius: 5px !important;
	border-top-right-radius: 5px !important;
}

.radius-top-left
{
	border-top-left-radius: 5px !important;
}

.radius-top-right
{
	border-top-right-radius: 5px !important;
}

.radius {
	border-radius: 5px !important;
}

.tab-content
{
	background: #FFFFFF !important;
}
.page-content {
	background: #e9eaed;
}

.page-header.navbar {
/*	background-color: #d84a38;
	border-top: 5px solid #d84a38;
	border-bottom: 5px solid #d84a38;
	height: 56px;*/
}

.Advetisements {
    margin-top: 20px;
}

 @media (max-width: 768px) {
	.Advetisements,
	.Advetisements-classic 
	{
	  margin-top: 0;
  	}
}

.notification {
	color: red !important;
}

.logo a h1{
	color: red !important;
}

.logo a h1 small
{
	color: #868686 !important;
}

.page-logo h1{
	color: red !important;
	margin-top: 10px !important;
	margin-bottom: 0px !important;
}

.page-logo a h1 small{
	color: #868686 !important;
}
